//colors
$coral: #F5524B;
$lightGrey: #EEEEEE;
$grey: #999999;
$darkGrey: #666666;
$white: #FFFFFF;

//breakpoints
$first: 1126px; 
$mobile: 420px;

@mixin to-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
};

body{
    font-family: 'Arimo', sans-serif;
} 

header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: $white;
    .container{
        width: 80%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-items: space-between;
        @media only screen and (max-width: $first){
            width: 90%;
        }
        @media only screen and (max-width: $mobile){
            width: 100%;
            justify-content: space-between;
        }
        .topWrapper{
            width: 100%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            @media only screen and (max-width: $mobile){
                height: 80px;
                width: 100%;
                padding: 0 15px;
                justify-content: space-between;
            }
            .socialMediaIcons{
                width: 160px;
                text-align: left; 
                float: left;
                @media only screen and (max-width: $mobile){
                    width: 0px;
                }
                .smIcon{
                    background-color: $grey;
                    color: $white;
                    text-decoration: none;
                    width: 30px;
                    height: 30px;
                    @include to-center();
                    border-radius: 50%;
                    line-height: 36px;
                    float: left;
                    margin-right: 10px;
                    font-size: 18px;
                    transition: all .5s ease-in-out;
                    &:hover{
                        background-color: $coral;
                    }
                    @media only screen and (max-width: $mobile){
                        display: none;
                    }
                }  
            }
            .logoWrapper{
                @include to-center();
                @media only screen and (max-width: $mobile){
                    margin-right: 140px;
                }
                .logo{
                    width: 120px;
                }
            }
            .liveBtn{
                background-color: $coral;
                text-decoration: none;
                color: white;
                font-size: 18px;
                padding: 10px 15px;
                border-radius: 20px;
                display: flex;
                justify-content: flex-start;
                text-align: center;
            }
        }
    }
    .containerBottom{
        width: 100%;
        box-sizing: border-box;
        @include to-center();
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.15);
        .nav{
            width: 80%;
            height: 50px;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            font-size: 15px;
            justify-content: space-between;
            @media only screen and (max-width: $first){
                width: 90%;
            }
            @media only screen and (max-width: $mobile){
                width: 100%;
            }
            .leftWrap{
                display: flex;
                .menuDiv{
                    width: 85px;
                    height: 50px;
                    border-right: 1px solid $lightGrey;
                    border-left: 1px solid $lightGrey;
                    @include to-center();
                    span{
                        font-weight: bold;
                    }
                }
                .linksContainer{
                    @include to-center();
                    @media only screen and (max-width: $mobile){
                        display: none;
                    }
                    .navLinks{
                        @include to-center();
                        a{
                            text-decoration: none;
                        }
                        .navOption{
                            list-style-type: none;
                            padding: 0px 8px;
                            color: $darkGrey;
                            &:hover{
                                color: $coral;
                            }
                        }
                    }
                }
                
            }
            .rightWrap{
                display: flex;
                text-align: center;
                align-items: center;
                float: right;
                @media only screen and (max-width: $mobile){
                    width: 75%;
                    margin-left: 20px;
                }
                .searchInput{
                    input{
                        font-size: 15px;
                        padding: 5px 10px;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                .cienRadios{
                    .cienradiosLink{
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: bold;
                        color:$darkGrey;
                        margin-left: 15px;
                        text-align: center;
                        align-items: center;
                        &:hover{
                            color: $coral;
                        }
                    }
                }
            }            
        }
    }
}

.newsWrapper{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130px;
    .mainWrapper{
        width: 70%;
        //@include to-center();
        @media only screen and (max-width: $first){
            width: 90%;
        }
        @media only screen and (max-width: $mobile){
            width: 100%;
        }
        .mainNews{
            display: flex;
            flex-wrap: wrap;
            .imgAnchor{
                position: relative;
                .newsImg{
                    width: 440px;
                    height: 240px;
                    position: relative;
                    margin: 10px;
                    @media only screen and (max-width: $mobile){
                        width: 95%;
                    }
                }
                .newsTitle{
                    text-decoration: none;
                    color: $white;
                    position: absolute;
                    top: 185px; 
                    left: 15px;
                    width: 400px;
                    z-index: 99;
                    font-size: 22px;
                    font-weight: bold;
                    text-shadow: 0px 1px 5px black;
                    margin-left: 10px;
                    letter-spacing: 1px;
                    &:hover{
                        color: $coral;
                    }
                    @media only screen and (max-width: $mobile){
                        top: 185px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

