html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Arimo', sans-serif;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: #FFFFFF;
}

header .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-between;
}

@media only screen and (max-width: 1126px) {
  header .container {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  header .container {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .container .topWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

@media only screen and (max-width: 420px) {
  header .container .topWrapper {
    height: 80px;
    width: 100%;
    padding: 0 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .container .topWrapper .socialMediaIcons {
  width: 160px;
  text-align: left;
  float: left;
}

@media only screen and (max-width: 420px) {
  header .container .topWrapper .socialMediaIcons {
    width: 0px;
  }
}

header .container .topWrapper .socialMediaIcons .smIcon {
  background-color: #999999;
  color: #FFFFFF;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  line-height: 36px;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .container .topWrapper .socialMediaIcons .smIcon:hover {
  background-color: #F5524B;
}

@media only screen and (max-width: 420px) {
  header .container .topWrapper .socialMediaIcons .smIcon {
    display: none;
  }
}

header .container .topWrapper .logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  header .container .topWrapper .logoWrapper {
    margin-right: 140px;
  }
}

header .container .topWrapper .logoWrapper .logo {
  width: 120px;
}

header .container .topWrapper .liveBtn {
  background-color: #F5524B;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

header .containerBottom {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
}

header .containerBottom .nav {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1126px) {
  header .containerBottom .nav {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  header .containerBottom .nav {
    width: 100%;
  }
}

header .containerBottom .nav .leftWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .containerBottom .nav .leftWrap .menuDiv {
  width: 85px;
  height: 50px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .containerBottom .nav .leftWrap .menuDiv span {
  font-weight: bold;
}

@media only screen and (max-width: 420px) {
  header .containerBottom .nav .leftWrap .menuDiv {
    width: 20%;
  }
}

header .containerBottom .nav .leftWrap .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  header .containerBottom .nav .leftWrap .linksContainer {
    display: none;
  }
}

header .containerBottom .nav .leftWrap .linksContainer .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .containerBottom .nav .leftWrap .linksContainer .navLinks a {
  text-decoration: none;
}

header .containerBottom .nav .leftWrap .linksContainer .navLinks .navOption {
  list-style-type: none;
  padding: 0px 8px;
  color: #666666;
}

header .containerBottom .nav .leftWrap .linksContainer .navLinks .navOption:hover {
  color: #F5524B;
}

header .containerBottom .nav .rightWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

@media only screen and (max-width: 420px) {
  header .containerBottom .nav .rightWrap {
    width: 75%;
    margin-left: 20px;
  }
}

header .containerBottom .nav .rightWrap .searchInput input {
  font-size: 15px;
  padding: 5px 10px;
}

header .containerBottom .nav .rightWrap .searchInput input:focus {
  outline: none;
}

header .containerBottom .nav .rightWrap .cienRadios .cienradiosLink {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  margin-left: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .containerBottom .nav .rightWrap .cienRadios .cienradiosLink:hover {
  color: #F5524B;
}

.newsWrapper {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 130px;
}

.newsWrapper .mainWrapper {
  width: 70%;
}

@media only screen and (max-width: 1126px) {
  .newsWrapper .mainWrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .newsWrapper .mainWrapper {
    width: 100%;
  }
}

.newsWrapper .mainWrapper .mainNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsWrapper .mainWrapper .mainNews .imgAnchor {
  position: relative;
}

.newsWrapper .mainWrapper .mainNews .imgAnchor .newsImg {
  width: 440px;
  height: 240px;
  position: relative;
  margin: 10px;
}

@media only screen and (max-width: 420px) {
  .newsWrapper .mainWrapper .mainNews .imgAnchor .newsImg {
    width: 95%;
  }
}

.newsWrapper .mainWrapper .mainNews .imgAnchor .newsTitle {
  text-decoration: none;
  color: #FFFFFF;
  position: absolute;
  top: 185px;
  left: 15px;
  width: 400px;
  z-index: 99;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 1px 5px black;
  margin-left: 10px;
  letter-spacing: 1px;
}

.newsWrapper .mainWrapper .mainNews .imgAnchor .newsTitle:hover {
  color: #F5524B;
}

@media only screen and (max-width: 420px) {
  .newsWrapper .mainWrapper .mainNews .imgAnchor .newsTitle {
    top: 185px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */